@import"./vars";

.logo {
  @include logo-login;
}
.form {
  display: flex;
  flex-direction: column;
}
.form a {
  color: $hospital-green;
  font-size: $sm;
  text-align: center;
  text-decoration: none;
  margin-bottom: 52px;
}
.valid-field, .empty-field{
  margin: 1px;
  font-weight: bold;
  color: red;
  text-align: center;
}
.login-title {
  text-align: center;
}
.label {
  font-size: $sm;
  font-weight: bold;
  margin-bottom: 4px;
}
.input {
  @include input-login;
}
.input-email {
  margin-bottom: 22px;
}
.primary-button {
  @include button-primary-login;
}
.secondary-button {
  @include button-secondary-login;
}
.login-button {
  margin-top: 14px;
  margin-bottom: 30px;
}
 