@import "./vars";

.Product-Detail {
  width: 360px;
  padding-bottom: 24px;
  box-shadow: 0 0 4px gray;
  border-radius: 8px;
  position: fixed;
  right: 0;
  z-index: 2;
  background-color: $white;
}
.product-detail-close {
  background: $white;
  width: 14px;
  height: 14px;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 2;
  padding: 12px;
  margin: 5px 0 0 5px;
  border-radius: 50%;
}
.product-detail-close:hover {
  cursor: pointer;
}
.Product-Detail > img:nth-child(2) {
  width: 100%;
  height: 330px;
  object-fit: cover;
  border-radius: 0 0 20px 20px;
}
.Product-Detail__product-info{
  display: flex;
  flex-direction: column;
/*   align-items: center; */
  margin: 24px 24px 0 24px;
}
.Product-Detail__product-info p:nth-child(1) {
  font-weight: bold;
  font-size: $md;
  margin-top: 0;
  margin-bottom: 2px;
}
.Product-Detail__product-info p:nth-child(2) {
  color: $very-light-pink;
  font-size: $md;
  margin-top: 0;
  margin-bottom: 25px;
}
.Product-Detail__product-info p:nth-child(3) {
  color: $very-light-pink;
  font-size: $sm;
  margin-top: 0;
  margin-bottom: 25px;
}
.primary-button {
  background-color: $hospital-green;
  border-radius: 8px;
  border: none;
  color: $white;
  width: 100%;
  cursor: pointer;
  font-size: $md;
  font-weight: bold;
  height: 50px;
}
.add-to-cart-button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.add-to-cart-button img{
  margin-right: 10px;
}
.product-detail--disabled{
    display: none;
}
@media (max-width: 640px) {
  .Product-Detail {
    width: 100%;
  }
}