@import"./vars";

.login {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
}

.Sign-up__form-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 90%;
  height: 75vh;

}

.title {
  font-size: $lg;
  margin-bottom: 36px;
  text-align: start;
}
.Sign-up__form {
  display: flex;
  flex-direction: column;
}
.Sign-up__form div {
  display: flex;
  flex-direction: column;
}
.label {
  font-size: $sm;
  font-weight: bold;
  margin-bottom: 4px;
}
.input {
  @include input-login;
}
.input-name,
.input-email,
.input-password {
  margin-bottom: 22px;
}
.primary-button {
  @include button-primary-login;
}
.login-button {
  margin-top: 14px;
  margin-bottom: 30px;
}
@media (min-width: 640px) {
  .Sign-up__form-container {
    width: 500px;
    height: 75vh;
    padding: 25px 20px 25px 20px;
  }
}
/* @media (max-width: 640px) {
    .form {
      height: 100%;
      justify-content: space-between;
    }
} */