@import "./vars";

.mobile-menu {
  width: 200px;
  padding: 20px 24px 20px 24px;
  border: 1px solid black;
  border-radius: 8px;
  position: absolute;
  top:60px;
  left: 0;
  z-index: 2;
  background-color: $white;
}
.mobile-menu .mobile-menu__categories{
  margin-top: 16px;
}
.mobile-menu .mobile-menu__link {
  text-decoration: none;
  color: $black;
  font-weight: bold;
  /* margin-bottom: 24px; */
}
.mobile-menu ul {
  padding: 0;
  margin: 24px 0 0;
  list-style: none;
}
.mobile-menu ul:nth-child(1) {
  border-bottom: 1px solid $very-light-pink;
}
.mobile-menu ul .mobile-menu__li {
  margin-bottom: 24px;
}
.email {
  font-size: $md;
  font-weight: 600 !important;
  color: $hospital-green !important;
}
.sign-out {
  font-size: $md;
  font-weight: 600 !important;
  color: $hospital-green !important;
}
.mobile-menu--disable{
  display: none;
}

@media (min-width: 640px){
  .mobile-menu {
    display: none;
  }
}